version: 2
jobs:
  deploy:
    docker:
      - image: cdssnc/aws-cli
    steps:
      - run:
          name: "Set AWS region"
          command: aws configure set region ap-northeast-1
      - run:
          name: "Deploy Staging"
          command: aws deploy create-deployment --application-name prismdb --deployment-group-name prismdb-deploy --github-location repository="prickathon/prismdb",commitId="$CIRCLE_SHA1"
workflows:
  version: 2
  build_deploy:
    jobs:
      - deploy:
          requires:
            - csv2rdf
          filters:
            branches:
              only: master
